.full-width{
  width:100%;
  outline:1px solid black;
  text-align:center;
  height:100px;
  line-height: 57px;
  padding:20px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.body_content{
  width:100%;
  height:calc(100vh - 48px);
  outline:1px solid red;
  text-align:center;
}

h1{
  margin:0;
}

.buttonCont{
  padding: 20px 0 ;
}

.buttonCont input{
  height:40px;
  font-size:20px;
}

.buttonCont button{
  width:200px;
  height:40px;
}